<p id="notice"><%= notice %></p>
<div id="boxholder">
  <div class="column1">
    
    <div id="user_profile">
        <%=render(@user)%><!--/users/_user.html.erb-->
    </div><!--user profile end-->

    <div id="tutor_profile">
      <%=render 'tutorprof'%><!--/users/_tutorprof.html.erb-->
    </div><!--tutor profile end-->
    
    
  </div><!--div column end-->
  
  <div class="column2">
    <div id="tutorschedule">
      <%=render 'tutorschedule'%><!--/users/_tutor_schedule.html.erb-->
    </div>
    <div id="rating">
      rating and comments stuff
    </div>
    
  </div><!--div column2 end-->
  
  <div class="fix"></div>
</div><!--boxholder-->


<% link_to 'Back', users_path %>
