  <div class="container">
      <div class="row">
          <div class="offset2 span6 offset2">
            <h2>About Us</h2>
            <p>After typing in a formula into its search, Google will spit out the answer in a new calculator it has brought to its results. Once the calculator is displayed, users can tap numbers and scientific functions to send it a new equation. The company's search box will also still work.<br><br>
            Prior to this addition, Google allowed users to type into its search any equation. The search engine would then spit out the answer. However, this is the first time that Google has displayed an actual calculator its users can interact with.<br><br>
            Although the calculator might seem like a small addition to its search, Google has slowly but surely made its results pages more of a destination, rather than a way to get somewhere else. Back in May, for example, Google launched its Knowledge Graph, providing facts about 500 million people, places, and things, in relevant query results. The move could reduce its searchers' need to click through to other sites.
          </div>
      </div>
  </div><!-- end container div-->
