  <div class="container">
      <div class="row">
          <div class="offset2 span6 offset2">
            <h1>Getting Started</h1>
How To Use the Site

 

To Register for the Site

Click Join For Free Button



 

Fill Out the Registration Form

-       Select your university (if your university is not listed email info@tutorsprout.com)
-       Select your Affiliation/Department
o   Student
o   Tutor
o   Tutoring Center at Your School
-       Agree to Terms & Conditions (www.tutorsprout.com/tos)
-       Click Sign Up

 

Click Login

Students

Once the Student is logged in they can



-       View Profile
-       Edit Profile
-       Apply To be a Tutor       
-       See Meetings
o   Pending Meetings
o   Unpaid Meetings
o   Future Meetings
o   Past Meetings

 

To search for Tutors

Click Services à Find Tutor OR Homepage à Find Tutor



 

Search for Tutors in your school



Select a Tutor



Click Make Appointment

-       Virtual
-       Location Based



Select

-       Subject
-       Location if Face to Face

Enter

-       Message to the tutor
-       Code for Free Meeting if Sponsored by the Tutoring Center at Your School

Click Request Appointment

The Appointment Request has been sent to the tutor

-       If approved by tutor
o   Meeting shows up in Unpaid Meeting
§  Click the meeting and click Pay button to pay via PayPal
§  After the payment is made , meetings shows in Future Meetings

Clicking on the meeting and clicking Cancel can cancel all Meetings

To Join a Virtual Meeting

-       Click Future Meetings
o   Click on Meeting
§  Click Join Meeting

Once the meeting is over click log out on top right hand

 

 

 

 

 

 

 

 

 

 

 

 

Tutor

Login with your profile

-       Click apply to be a tutor


Upload your resume and transcript to be considered for tutor position



Wait Till Approved by Administrator or Your School Tutoring Center

-       Email tutors@tutorsprout.com
o   Name, Specialties

If you are Approved you can set your own

-       Rate ($)
-       Schedule





To add specialties or subjects you tutor

-       Click Edit
o   Fill out the form (they will be added to your profile)

To accept meetings

-       Click pending meetings
o   Click Accept



To start virtual meetings

-       Click future Meetings
o   Click on the Meeting
§  Click Start Meeting

Once the meeting is over click log out on top right hand

 

 

 
          </div>
      </div>
  </div><!-- end container div-->
