  <div class="container">
      <div class="row">
          <div class="offset2 span6 offset2">
            <h1>How To Use CourseSpree</h1>
          </div>
      </div>
  </div><!-- end container div-->
