<div class="container">
  <div class="row">
<%#*<div class="offset2 span6 offset2">%>
    <h3>Please visit these Links :</h3>
    <a class="nav" href="http://nibletz.com/2012/08/15/syracuse-startup-coursespree-an-online-marketplace-for-students-interview/">http://nibletz.com/2012/08/15/syracuse-startup-coursespree-an-online-marketplace-for-students-interview/</a>
    <br/><br/>
    <a class="nav" href="http://www.start-ups.co/directory/2174/coursespree-inc/">http://www.start-ups.co/directory/2174/coursespree-inc/</a>
    <br/><br/>
    <a class="nav" href="http://www.syracusestudentsandbox.com/teams/2012/#!coursespree">http://www.syracusestudentsandbox.com/teams/2012/#!coursespree</a>
    <br/><br/>
    <a class="nav" href="http://new.livestream.com/thestudentsandbox/Summer12DemoDay">http://new.livestream.com/thestudentsandbox/Summer12DemoDay</a>
  </div>
<%#*</div>%>
</div><!-- end container div-->
