<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="TOS_files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Danish Nadeem</o:Author>
  <o:LastAuthor>Danish Nadeem</o:LastAuthor>
  <o:Revision>1</o:Revision>
  <o:TotalTime>0</o:TotalTime>
  <o:Created>2013-03-13T11:24:00Z</o:Created>
  <o:LastSaved>2013-03-13T11:24:00Z</o:LastSaved>
  <o:Pages>5</o:Pages>
  <o:Words>4900</o:Words>
  <o:Characters>27930</o:Characters>
  <o:Company>Syracuse University</o:Company>
  <o:Lines>232</o:Lines>
  <o:Paragraphs>65</o:Paragraphs>
  <o:CharactersWithSpaces>32765</o:CharactersWithSpaces>
  <o:Version>14.0</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="TOS_files/themedata.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>89</w:Zoom>
  <w:TrackMoves/>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:DrawingGridHorizontalSpacing>18 pt</w:DrawingGridHorizontalSpacing>
  <w:DrawingGridVerticalSpacing>18 pt</w:DrawingGridVerticalSpacing>
  <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery>
  <w:DisplayVerticalDrawingGridEvery>0</w:DisplayVerticalDrawingGridEvery>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>JA</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:EnableOpenTypeKerning/>
   <w:DontFlipMirrorIndents/>
   <w:OverrideTableStyleHps/>
   <w:UseFELayout/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef m:val="off"/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapRight/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="subSup"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791491579 18 0 131231 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791491579 18 0 131231 0;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073743103 0 0 415 0;}
@font-face
	{font-family:"Noteworthy Light";
	panose-1:2 0 4 0 0 0 0 0 0 0;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-2147483537 134217800 341835776 0 273 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
.MsoPapDefault
	{mso-style-type:export-only;
	margin-bottom:10.0pt;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin-top:0in;
	mso-para-margin-right:0in;
	mso-para-margin-bottom:10.0pt;
	mso-para-margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-fareast-language:JA;}
</style>
<![endif]-->
</head>

<body bgcolor=white lang=EN-US style='tab-interval:.5in'>

<div class=WordSection1>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>This Agreement contains all of the
terms and conditions between CourseSpree Inc d/b/a TutorSprout , Inc. (&quot;CourseSpree
Inc d/b/a TutorSprout &quot;) and you (&quot;Tutor Seekers/Tutors and/or any
other user&quot;) and governs the use of the service offered at the CourseSpree
Inc d/b/a TutorSprout&nbsp; Website and through any CourseSpree Inc d/b/a
TutorSprout&nbsp; mobile application (collectively, the &quot;Site&quot;).
Please read this Agreement before using the Site. Use of the Site constitutes
an agreement with the Terms of Use (this &quot;Agreement&quot;), whether or not
you register as a member of CourseSpree Inc d/b/a TutorSprout&nbsp;
(&quot;Member&quot;). If you wish to become a Member and make use of the
CourseSpree Inc d/b/a TutorSprout&nbsp; service (the &quot;Service&quot;), then
please read this Agreement. By using this Site, all users do hereby represent,
warrant, understand, agree to and accept all terms and conditions contained
herein. If you object to anything in this Agreement or the CourseSpree Inc
d/b/a TutorSprout&nbsp; Privacy Policy, do not use the Site or the Service. The
Terms of Use are subject to change by CourseSpree Inc d/b/a TutorSprout&nbsp;
at any time, effective upon posting on the CourseSpree Inc d/b/a
TutorSprout&nbsp; Website, and your use of the Site or the Service after such
posting will constitute acceptance by you of such changes.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>1. ACCEPTANCE OF TERMS OF USE
AGREEMENT.</span></b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>This Agreement is an electronic
contract that sets out the legally binding terms of your use of the Site and
the Service. This Agreement may be modified by CourseSpree Inc d/b/a
TutorSprout&nbsp; from time to time, such modifications to be effective upon
posting by CourseSpree Inc d/b/a TutorSprout&nbsp; on the Site. This Agreement
includes the CourseSpree Inc d/b/a TutorSprout&nbsp; Privacy Policy. By
accessing the Site or becoming a Member, you accept this Agreement and agree to
the terms, conditions and notices contained or referenced herein. In addition,
by accessing the Site or becoming a Member, you consent to have this Agreement
provided to you in electronic form.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>2. COURSESPREE INC D/B/A
TUTORSPROUT&nbsp; IS A platform.</span></b><span style='font-size:15.0pt;
font-family:"Noteworthy Light";mso-bidi-font-family:"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>The Site is a communications platform
for enabling the connection between individuals seeking tutoring services
(&quot;Tutor Seekers&quot;) and/or individuals or companies providing tutoring
services (&quot;Tutors&quot;). CourseSpree Inc d/b/a TutorSprout&nbsp; does not
take part in the interaction between Tutor Seekers and Tutors except to collect
payments on the behalf of Tutor Seekers and Tutors for venue services through
the Site. Users do hereby represent, understand and expressly agree that
CourseSpree Inc d/b/a TutorSprout&nbsp; does not have control over the quality,
timing, legality or any other aspect whatsoever of the services actually
delivered by the Tutors, nor of the integrity, responsibility or any of the
actions whatsoever of the Tutor Seekers. CourseSpree Inc d/b/a
TutorSprout&nbsp; makes no representations about the suitability, reliability,
timeliness, and accuracy of the services provided by Tutors or Tutor Seekers
through the Site whether in public, private or offline interactions.
CourseSpree Inc d/b/a TutorSprout&nbsp; does not assume any responsibility for
the accuracy or reliability of any information provided by Tutors or Tutor
Seekers on this Site. CourseSpree Inc d/b/a TutorSprout&nbsp; does not assume
and expressly disclaims any liability that may result from the use of this
information. CourseSpree Inc d/b/a TutorSprout&nbsp; is not responsible for the
conduct, whether online or offline, of any user of the Site or Member of the
Service. All users including both Tutor Seekers and Tutors do hereby expressly
agree not to hold CourseSpree Inc d/b/a TutorSprout&nbsp; (or CourseSpree Inc d/b/a
TutorSprout 's officers, directors, investors, subsidiaries, agents, assignees,
representatives, advertisers, marketing partners, licensors, independent
contractors, recruiters, corporate partners, or employees, hereinafter
&quot;Affiliates&quot;) liable for any instruction, advice or services
delivered which originated through the Site and CourseSpree Inc d/b/a
TutorSprout&nbsp; and its Affiliates expressly disclaims any liability
whatsoever for any damage, suits, claims, and/or controversies that have arisen
or may arise, whether known or unknown therefrom.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>3. ELIGIBILITY.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Our services are available only to
individuals and companies that can form legally binding contracts under
applicable law. Without limiting the foregoing, our services are not available
to minors under the age of eighteen (18) or to anyone who may not legally work
within the jurisdiction of the United States. This Site is currently available
only to United States citizens and/or any individuals who are legally in the
jurisdiction of the United States and may legally work within its
jurisdiction.By requesting to use, registering to use and/or using the Site,
you represent and warrant that you have the right, authority and capacity to
enter into this Agreement and you commit to abide by all of the terms and
conditions hereof. In addition, you represent and warrant that you and each
member of your household (a) have never been the subject of a complaint,
restraining order or any other legal action involving, arrested for, charged
with, or convicted of any felony, any criminal offense involving violence,
abuse, neglect, fraud or larceny, or any offense that involves endangering the
safety of others, and (b) have not been and are not currently required to
register as a sex offender with any government entity.You hereby authorize
CourseSpree Inc d/b/a TutorSprout&nbsp; to verify your representations and
warranties herein, and you acknowledge that CourseSpree Inc d/b/a
TutorSprout&nbsp; reserves the right, but not the obligation, to verify such
representations and warranties, which may include, without limitation,
conducting criminal background checks and using other available public records,
and to take action it deems appropriate in its sole discretion, including but
not limited to terminating your membership, should it determine, in its sole
opinion, that you have violated any representation or warranty or any other
provision of these Terms of Use.NOTWITHSTANDING THE FOREGOING, COURSESPREE INC
D/B/A TUTORSPROUT&nbsp; DISCLAIMS ANY LIABILITY WHATSOEVER FOR ANY MISSTATEMENTS
AND/OR MISREPRESENTATIONS MADE BY ANY USERS OF THE SITE. USERS DO HEREBY
REPRESENT, UNDERSTAND AND AGREE TO HOLD COURSESPREE INC D/B/A TUTORSPROUT&nbsp;
HARMLESS FOR ANY MISSTATEMENTS AND/OR MISREPRESENTATIONS MADE BY ANY USERS OF
THIS SITE.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>4. RELEASE.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Tutor Seekers may seek the services of
a Tutor through the use of the Site and Tutors may submit proposals to Tutor
Seekers regarding their services. In the event that a Tutor Seeker and a Tutor
agree on the provision of services such agreement is solely between the Tutor
Seeker and the Tutor; CourseSpree Inc d/b/a TutorSprout&nbsp; is not a party to
any such agreement. Any issues concerning the services received by the Tutor
Seeker or payment due to the Tutor must be resolved directly by the Tutor
Seeker and the Tutor. CourseSpree Inc d/b/a TutorSprout&nbsp; will not be held
responsible and expressly disclaims any liability whatsoever for any claims,
demands or damages direct or indirect of every kind and nature, known and
unknown, suspected and unsuspected, disclosed and undisclosed, arising out of
or in any way connected with such issues. By using this Site, you do hereby
represent, understand, and expressly agree to hold CourseSpree Inc d/b/a
TutorSprout&nbsp; harmless for any claim or controversy that may arise from any
disputes between you and any other user(s) of the Site. CourseSpree Inc d/b/a
TutorSprout&nbsp; will use its reasonable efforts to monitor Tutor and Tutor
Seeker profiles, actions, comments, and general usage of the Site and suspend
privileges to any Tutor Seeker or Tutor not adhering to the policies of the
Site. You agree to take reasonable precautions in all interactions with other
users of the Site, particularly if you decide to meet offline or in person. In
addition, you agree to review the CourseSpree Inc d/b/a TutorSprout&nbsp;
Safety Tips prior to using the Service. By using this Site, you do hereby agree
to report any alleged improprieties of any users therein to CourseSpree Inc
d/b/a TutorSprout&nbsp; immediately by notifying CourseSpree Inc d/b/a TutorSprout&nbsp;
of the same via electronic correspondence.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>5. EXCLUSIVE USE.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Your account is for your sole,
personal use, you may not authorize others to use your account, and you may not
assign or otherwise transfer your account to any other person or entity.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>6. INFORMATION PROVIDED BY USERS.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>You are responsible for providing
accurate, current and complete information in connection with your registration
for use of the Site. CourseSpree Inc d/b/a TutorSprout&nbsp; is not responsible
for any claims relating to any inaccurate, untimely or incomplete information
provided by users of the Site.You are solely responsible for any content,
messages, photos, videos, reviews or profiles (collectively,
&quot;Content&quot;) that you publish or display (hereinafter,
&quot;post&quot;) on the Site, or transmit to other users of the Site. You will
not post on the Site, or transmit to other users, any defamatory, inaccurate,
abusive, obscene, profane, offensive, sexually oriented, threatening, harassing,
racially offensive, or illegal material, or any material that infringes or
violates another party's rights (including, but not limited to, intellectual
property rights, and rights of privacy and publicity). You will not provide
inaccurate, misleading or false information to CourseSpree Inc d/b/a
TutorSprout&nbsp; or to any other user of the Site.You understand and agree
that CourseSpree Inc d/b/a TutorSprout&nbsp; may review and delete any Content,
in each case in whole or in part, that in the sole judgment of CourseSpree Inc
d/b/a TutorSprout&nbsp; violates this Agreement or which might be offensive,
illegal, or that might violate the rights, harm, or threaten the safety of
users of the Site.By posting Content to any public or member area of the Site
you automatically grant, and you represent and warrant that you have the right
to grant, to CourseSpree Inc d/b/a TutorSprout , its Affiliates, licensees and
successors, an irrevocable, perpetual, non-exclusive, fully paid, worldwide
license to use, copy, perform, display, reproduce, adapt, modify and distribute
such information and content and to prepare derivative works of, or incorporate
into other works, such information and content, and to grant and authorize
sublicenses of the foregoing. You further represent and warrant that public
posting and use of your Content by CourseSpree Inc d/b/a TutorSprout&nbsp; will
not infringe or violate the rights of any third party.Your use of the Service,
including but not limited to the Content you post on the Service, must be in
accordance with any and all applicable laws and regulations.Opinions, advice,
statements, offers, or other information or content made available on the Site
or through the Service, but not directly by CourseSpree Inc d/b/a TutorSprout ,
are those of their respective authors. Such authors are solely responsible for
such content. CourseSpree Inc d/b/a TutorSprout&nbsp; does not: (i) guarantee
the accuracy, completeness, or usefulness of any information on the Site or
available through the Service, or (ii) adopt, endorse or accept responsibility
for the accuracy or reliability of any opinion, advice, or statement made by
any party that appears on the Site or through the Service. Under no
circumstances will CourseSpree Inc d/b/a TutorSprout&nbsp; or its Affiliates be
responsible for any loss or damage resulting from: a) your reliance on
information or other content posted on the Site or transmitted to or by any
user of the Site or Service; or b) reviews or comments made about you on the
Site by other users.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>7. PRIVACY.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>CourseSpree Inc d/b/a
TutorSprout&nbsp; will only use the information you provide on the Site in
accordance with our Privacy Policy. For more information, see our full Privacy
Policy.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>8. LINKS TO EXTERNAL SITES.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Links from the Site to external sites
(including external sites that are framed by CourseSpree Inc d/b/a TutorSprout
) or inclusion of advertisements do not constitute an endorsement by
CourseSpree Inc d/b/a TutorSprout&nbsp; of such sites or the content, products,
advertising and other materials presented on such sites or of the products and
services that are the subject of such advertisements, but are for users'
reference and convenience. Users access them at their own risk. It is the
responsibility of the user to evaluate the content and usefulness of the
information obtained from other sites. CourseSpree Inc d/b/a TutorSprout&nbsp;
does not control such sites, and is not responsible for their content. Just
because CourseSpree Inc d/b/a TutorSprout&nbsp; has hyperlinks to such sites
does not mean that CourseSpree Inc d/b/a TutorSprout&nbsp; endorses any of the
material on such sites, or has any association with their operators. Users
further acknowledge that use of any site controlled, owned or operated by third
parties is governed by the terms and conditions of use for those sites, and not
by CourseSpree Inc d/b/a TutorSprout 's Terms of Use and Privacy Policy.
CourseSpree Inc d/b/a TutorSprout&nbsp; expressly disclaims any liability
derived from the use and/or viewing of links that may appear on this Site. All
users hereby agree to hold CourseSpree Inc d/b/a TutorSprout&nbsp; harmless
from any liability that may result from the use of links that may appear on the
Site.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>9. COPPA COMPLIANCE.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Tutor Seekers and Tutors should
monitor children's use of the Internet. CourseSpree Inc d/b/a TutorSprout&nbsp;
is intended for people 18 or over. CourseSpree Inc d/b/a TutorSprout&nbsp; will
not knowingly collect any information from children under 13. You must identify
your age during the registration process. CourseSpree Inc d/b/a
TutorSprout&nbsp; takes the Children's Online Privacy Protection Act of 1998
(COPPA) as well as all FTC regulations very seriously. That being said, we do
not assume any responsibility for any misrepresentations regarding your age or
parental consent when using this Site. Should we determine that you provided
any false information to us when using this Site, your membership will be
terminated immediately.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>10. PROHIBITED USE.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>The Site and related services may not
be used by any person or organization to recruit, solicit, or contact in any
form Tutor Seekers or Tutors for employment or contracting for a business not
affiliated with CourseSpree Inc d/b/a TutorSprout&nbsp; without express written
permission from CourseSpree Inc d/b/a TutorSprout . Should CourseSpree Inc
d/b/a TutorSprout&nbsp; find that you violated the terms of this paragraph or
any terms stated herein, CourseSpree Inc d/b/a TutorSprout&nbsp; reserves the
right, at its sole discretion, to immediately terminate your use of the Site
and/or assess a $10,000 daily penalty fee for scraping, either in a manual or
automatic manner, Tutor or Tutor Seeker information, including but not limited
to, names, addresses, phone numbers, or email addresses, copying copyrighted
text, or otherwise mis-using or mis- appropriating site content, including but
not limited to, use on a &quot;mirrored&quot;, competitive, or third party
site.Although CourseSpree Inc d/b/a TutorSprout&nbsp; cannot monitor the
conduct of its users off the Site, it is also a violation of these Terms of Use
to use any information obtained from the Site or the Service in order to
harass, abuse, or harm another person, or in order to contact, advertise to,
solicit, or sell to any user without their prior explicit consent. In order to
protect our users from such activity, we reserve the right to take appropriate
actions, including but not limited to restricting the number of emails which a
user may send to other users in any 24-hour period to a number which we deem
appropriate in our sole discretion.In order to protect the integrity of the
Site and the Service, CourseSpree Inc d/b/a TutorSprout&nbsp; reserves the
right at any time in its sole discretion to block users from certain IP
addresses from accessing the Site.CourseSpree Inc d/b/a TutorSprout&nbsp;
reserves the right, in its sole discretion, to terminate your access to all or
part of the CourseSpree Inc d/b/a TutorSprout&nbsp; Site, to remove your
profile and/or any content posted by or about you, from the Site, and/or to
terminate your membership in CourseSpree Inc d/b/a TutorSprout , for any reason
or no reason, with or without notice. Following any termination of any member's
use of the Site, CourseSpree Inc d/b/a TutorSprout&nbsp; reserves the right to
send a notice thereof to other members which whom you have corresponded.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>11. PAYMENT AND REFUND POLICY FOR
INDIVIDUAL TUTOR SEEKERS.</span></b><span style='font-size:15.0pt;font-family:
"Noteworthy Light";mso-bidi-font-family:"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Tutor Seekers are obligated to pay for
the service of the Site, unless specifically notified otherwise. Tutor Seekers
that sign up agree to pay CourseSpree Inc d/b/a TutorSprout&nbsp; all charges
at the prices then in effect for any use of the Site. In addition, Tutor
Seekers authorize CourseSpree Inc d/b/a TutorSprout&nbsp; to charge their
chosen payment provider for use of the Site. CourseSpree Inc d/b/a
TutorSprout&nbsp; reserves the right to correct any errors or mistakes that it
makes even if it has already requested or received payment.CourseSpree Inc
d/b/a TutorSprout&nbsp; may offer limited-time free trial subscriptions to
Tutor Seekers from time-to-time. Tutor Seekers who sign up for CourseSpree Inc
d/b/a TutorSprout&nbsp; on a free trial basis may have limited access to the
features of the Site. If a Tutor Seeker continues their subscription after the
end of the free trial period, the Tutor Seeker will be charged the price then
in effect for a monthly subscription to the Service. To avoid being charged for
the service of the Site, a Tutor Seeker with a free trial subscription must
cancel their subscription prior to the end of the free trial period.The
subscriptions of Tutor Seekers will be automatically extended for successive
renewal periods of the same duration as the subscription term originally
selected, at the then- current non-promotional subscription rate, unless
specifically notified otherwise. To cancel your subscription, contact
CourseSpree Inc d/b/a TutorSprout&nbsp; Member Care or edit your account
settings. If you cancel your subscription, you may use your subscription until
the end of your then-current subscription term; your subscription will not be
renewed after your then-current term expires.No refunds or credits will be
provided for account cancellation requests received after the account has been
billed. In addition, no refunds will be granted for any donations to
third-party organizations that are made while enrolling or using the Site. At
CourseSpree Inc d/b/a TutorSprout 's sole discretion, refunds or credits may be
granted in extenuating circumstances, as a result of specific refund guarantee
promotions, or to correct any errors made by CourseSpree Inc d/b/a TutorSprout
.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>12. THIRD PARTY VERIFICATION SERVICE.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>CourseSpree Inc d/b/a
TutorSprout&nbsp; may make a third-party verification service available to
Tutor Seekers and Tutors. Tutor Seekers and Tutors may use this service to
verify information such as, but not limited to, name, address, social security
number, and criminal background. Use of a third-party verification service is
voluntary. If you decide to use or access information provided by a third-
party verification service offered through the Site, you do hereby represent,
understand and expressly agree that CourseSpree Inc d/b/a TutorSprout&nbsp; is
a conduit for the third- party verification service and does not have control
over or assume any responsibility for the quality, accuracy, or reliability of
the information provided by the third-party verification service. In addition,
you understand that CourseSpree Inc d/b/a TutorSprout&nbsp; may review the
information provided by the third-party verification service and that
CourseSpree Inc d/b/a TutorSprout&nbsp; retains the right to terminate your
CourseSpree Inc d/b/a TutorSprout&nbsp; membership based on the information.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>13. FAIR CREDIT REPORTING ACT.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Pursuant to the Fair Credit Reporting
Act (the &quot;FCRA&quot;), by this notice CourseSpree Inc d/b/a TutorSprout ,
Inc. notifies you that if you choose to participate in our third- party
verification service, it may, as part of that service, obtain a consumer report
about you from a consumer reporting agency. Consumer reports may contain
information on your character, general reputation, personal characteristics,
and mode of living, including but not limited to consumer credit, criminal history,
workers' compensation, driving, employment, military, civil, and educational
data and reports. If you use or access information provided by a third-party
verification service offered through the Site, you warrant that you will use
such information only for a purpose permitted by the FCRA and that you will
comply with any and all applicable obligations of the FCRA, which can be found
at http://www.ftc.gov/os/statutes/fcrajump.shtm as well as all other applicable
consumer reporting laws. If you decide to access, use, or share information
provided by a third-party verification service offered through the Site with
any other party (either through this Site or otherwise), you agree to do so in
accordance with applicable law and to indemnify and hold harmless CourseSpree
Inc d/b/a TutorSprout&nbsp; from any loss, liability, damage, or costs that may
result from such access, use, or sharing of this information regardless of the
cause. CourseSpree Inc d/b/a TutorSprout&nbsp; does not assume and expressly disclaims
any liability that may result from the use of information provided by a
third-party verification service.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>14. NO WARRANTY.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>The information and materials
contained in this website, including text, graphics, information, links or
other items are provided &quot;as is&quot;, &quot;as available&quot;.
COURSESPREE INC D/B/A TUTORSPROUT&nbsp; DOES NOT WARRANT THE ACCURACY, ADEQUACY
OR COMPLETENESS OF THIS INFORMATION AND MATERIALS AND EXPRESSLY DISCLAIMS
LIABILITY FOR ERRORS OR OMISSIONS IN THIS INFORMATION AND MATERIALS. NO
WARRANTY OF ANY KIND, IMPLIED, EXPRESSED OR STATUTORY INCLUDING BUT NOT LIMITED
TO THE WARRANTIES OF NON-INFRINGEMENT OF THIRD PARTY RIGHTS, TITLE,
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND FREEDOM FROM COMPUTER
VIRUS, IS GIVEN IN CONJUNCTION WITH THE INFORMATION AND MATERIALS.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>15. DISCLAIMER OF WARRANTY.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>1.No Warranties. COURSESPREE INC D/B/A
TUTORSPROUT&nbsp; PROVIDES THE SERVICES ON AN &quot;AS IS&quot; BASIS AND
GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR
OTHERWISE WITH RESPECT TO THE SERVICES OR THE SITE (INCLUDING ALL INFORMATION
CONTAINED THEREIN), INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. COURSESPREE INC D/B/A
TUTORSPROUT&nbsp; DOES NOT WARRANT THAT YOUR USE OF THE SERVICES WILL BE
SECURE, UNINTERRUPTED, ALWAYS AVAILABLE, ERROR-FREE OR WILL MEET YOUR
REQUIREMENTS, OR THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED.
COURSESPREE INC D/B/A TUTORSPROUT&nbsp; DISCLAIMS LIABILITY FOR, AND NO
WARRANTY IS MADE WITH RESPECT TO, THE CONNECTIVITY AND AVAILABILITY OF THE
SERVICES. IN ADDITION AND WITHOUT LIMITING THE FOREGOING, COURSESPREE INC D/B/A
TUTORSPROUT&nbsp; MAKES NO REPRESENTATION OR WARRANTIES OF ANY KIND WHETHER
EXPRESS OR IMPLIED REGARDING THE SUITABILITY OF ANY MEMBER OF OUR SITE TO PROVIDE
SERVICES AS A TUTOR OR TO SECURE THE SERVICES OF A TUTOR, INCLUDING, WITHOUT
LIMITATION, PARTICIPANTS IN ANY THIRD PARTY VERIFICATION SERVICE OFFERED ON OUR
SITE.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>2.Third Party Content. Opinions,
advice, statements, offers, or other information or content made available
through the Services, but not directly by CourseSpree Inc d/b/a TutorSprout ,
are those of their respective authors, and should not necessarily be relied
upon. Such authors are solely responsible for such content. COURSESPREE INC
D/B/A TUTORSPROUT&nbsp; DOES NOT: (i) GUARANTEE THE ACCURACY, COMPLETENESS OR
USEFULNESS OF ANY INFORMATION PROVIDED ON THE SITE, OR (ii) ADOPT, ENDORSE OR
ACCEPT RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE,
OR STATEMENT MADE BY ANY PARTY OTHER THAN COURSESPREE INC D/B/A TUTORSPROUT .
UNDER NO CIRCUMSTANCES WILL COURSESPREE INC D/B/A TUTORSPROUT&nbsp; BE
RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM ANYONE'S RELIANCE ON
INFORMATION OR OTHER CONTENT POSTED ON THE SERVICES, OR TRANSMITTED TO OR BY
ANY USERS.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>16. ASSUMPTION OF RISK.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>You assume all risk when using the
Services, including but not limited to all of the risks associated with any
online or offline interactions with Members of the site. You agree to take all
necessary precautions, including but not limited to following the
recommendations set forth in CourseSpree Inc d/b/a TutorSprout 's Safety Tips,
when interacting with others Members of the site.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>17. LIMITATION OF LIABILITY</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>1.Incidental Damages and Aggregate
Liability. In no event will CourseSpree Inc d/b/a TutorSprout&nbsp; be liable
for any indirect, special, incidental, or consequential damages, losses or
expenses arising out of or relating to the use or inability to use the Site,
including without limitation damages related to any information received from
the Site, removal of content from the Site, including profile information, any
email distributed to any user or any linked web site or use thereof or
inability to use by any party, or in connection with any termination of your
subscription or ability to access the Site, failure of performance, error,
omission, interruption, defect, delay in operation or transmission, computer
virus or line or system failure, even if CourseSpree Inc d/b/a TutorSprout , or
representatives thereof, are advised of the possibility of such damages, losses
or expenses. UNDER NO CIRCUMSTANCES WILL COURSESPREE INC D/B/A TUTORSPROUT 'S
AGGREGATE LIABILITY, IN ANY FORM OF ACTION WHATSOEVER IN CONNECTION WITH THIS
AGREEMENT OR THE USE OF THE SERVICES OR THE SITE, EXCEED THE PRICE PAID BY YOU
FOR YOUR ACCOUNT, OR, IF YOU HAVE NOT PAID COURSESPREE INC D/B/A
TUTORSPROUT&nbsp; FOR THE USE OF ANY SERVICES, THE AMOUNT OF US$25.00 OR ITS
EQUIVALENT.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>2.No Liability for non-CourseSpree Inc
d/b/a TutorSprout&nbsp; Actions. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE
LAW, IN NO EVENT WILL COURSESPREE INC D/B/A TUTORSPROUT&nbsp; BE LIABLE FOR ANY
DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY,
CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF
YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, INCLUDING WITHOUT
LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES
RESULTING FROM INTERACTIONS WITH OTHER MEMBERS OF THE SITE, WHETHER ONLINE OR
OFFLINE. THIS INCLUDES ANY CLAIMS, LOSSES OR DAMAGES ARISING FROM THE CONDUCT
OF USERS WHO HAVE REGISTERED UNDER FALSE PRETENSES OR WHO ATTEMPT TO DEFRAUD OR
HARM YOU.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
In addition to the preceding paragraphs of this section and other provisions of
this Agreement, any advice that may be posted on the Site is for informational
purposes only and is not intended to replace or substitute for any professional
financial, medical, legal, or other advice. CourseSpree Inc d/b/a
TutorSprout&nbsp; makes no representations or warranties and expressly
disclaims any and all liability concerning any treatment, action by, or effect
on any person following the information offered or provided within or through
the Site. If you have specific concerns or a situation arises in which you require
professional or medical advice, you should consult with an appropriately
trained and qualified specialist.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>18. INDEMNIFICATION.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>By agreeing to the terms of this
Agreement, users of the Site agree to indemnify, defend and hold harmless
CourseSpree Inc d/b/a TutorSprout&nbsp; and its Affiliates from and against any
and all claims, losses, expenses or demands of liability, including attorneys'
fees and costs incurred by CourseSpree Inc d/b/a TutorSprout&nbsp; and its
Affiliates in connection with any claim by a third party (including an
intellectual property claim) arising out of (i) materials and content you
submit, post or transmit through the Site, or (ii) use of the Site by you in
violation of these Terms of Use or in violation of any applicable law. Users
further agree that they will cooperate as reasonably required in the defense of
such claims. CourseSpree Inc d/b/a TutorSprout&nbsp; and its Affiliates reserve
the right, at their own expense, to assume the exclusive defense and control of
any matter otherwise subject to indemnification by users, and users shall not,
in any event, settle any claim or matter without the written consent of
CourseSpree Inc d/b/a TutorSprout . Users further agree to hold harmless
CourseSpree Inc d/b/a TutorSprout&nbsp; and its Affiliates from any claim
arising from a third party's use of information or materials of any kind that
users post to the Site.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>19. NOTICE AND TAKE DOWN PROCEDURES;
COPYRIGHT AGENT.</span></b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>If you believe any materials
accessible on or from Site infringe your copyright, you may request removal of
those materials (or access thereto) from this Site by contacting CourseSpree
Inc d/b/a TutorSprout&nbsp; and providing the following information:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>1.Identification of the copyrighted
work that you believe to be infringed. Please describe the work, and where
possible include a copy or the location (e.g., URL) of an authorized version of
the work.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>2.Identification of the material that
you believe to be infringing and its location. Please describe the material,
and provide us with its URL or any other pertinent information that will allow
us to locate the material.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Your name, address, telephone number and (if available) e-mail address.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>4.A statement that you have a good
faith belief that the complained of use of the materials is not authorized by
the copyright owner, its agent, or the law.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>5.A statement that the information
that you have supplied is accurate, and indicating that &quot;under penalty of
perjury,&quot; you are the copyright owner or are authorized to act on the
copyright owner's behalf.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
A signature or the electronic equivalent from the copyright holder or
authorized representative.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>20. NOTICE OF TRADEMARK RIGHTS.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>The service marks and trademarks
CourseSpree Inc d/b/a TutorSprout&nbsp; and the CourseSpree Inc d/b/a
TutorSprout&nbsp; logo are service marks owned by CourseSpree Inc d/b/a
TutorSprout . Any other trademarks, service marks, logos and/or trade names
appearing on the Site are the property of their respective owners. Users
acknowledge the rights of CourseSpree Inc d/b/a TutorSprout&nbsp; and the
respective third parties in those marks. Users may not copy or use any of these
marks, logos or trade names without the prior written permission of the owner
as expressly allowed by these Terms of Use.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>21. U.S. EXPORT CONTROLS.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Software from this Site (the
&quot;Software&quot;) is further subject to United States export controls. No
Software may be downloaded from the Site or otherwise exported or re-exported (i)
into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran,
Syria, or any other Country to which the U.S. has embargoed goods; or (ii) to
anyone on the U.S. Treasury Department's list of Specially Designated Nationals
or the U.S. Commerce Department's Table of Deny Orders. By downloading or using
the Software, you represent and warrant that you are not located in, under the
control of, or a national or resident of any such country or on any such list.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>22. JURISDICTION AND CHOICE OF LAW.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>If there is any dispute arising out of
the Site and/or the Service, by using the Site, you expressly agree that any
such dispute shall be governed by the laws of the State of New York, without
regard to its conflict of law provisions, and you expressly agree and consent
to the exclusive jurisdiction and venue of the state and federal courts of the
State of New York, New York County, for the resolution of any such dispute.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>23. MISCELLANEOUS.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Nothing in this Agreement shall be
construed as making either party the partner, joint venturer, agent, legal
representative, employer, contractor or employee of the other. Neither party
shall have, or hold itself out to any third party as having, any authority to
make any statements, representations or commitments of any kind, or to take any
action, that shall be binding on the other, except as provided for herein or
authorized in writing by the party to be bound. This Agreement will be binding
on and will inure to the benefit of the legal representatives, successors and
assigns of the parties hereto.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><b><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>24. CONTACT INFORMATION.</span></b><span
style='font-size:15.0pt;font-family:"Noteworthy Light";mso-bidi-font-family:
"Noteworthy Light"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>If you have any questions or need
further information as to the Site or Service provided by CourseSpree Inc d/b/a
TutorSprout , or need to notify CourseSpree Inc d/b/a TutorSprout&nbsp; as to
any matters relating to the Site or Service please contact CourseSpree Inc
d/b/a TutorSprout&nbsp; at:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>CourseSpree<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>235 Harrison Street<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>Syracuse NY 13202<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:15.0pt;mso-pagination:none;mso-layout-grid-align:
none;text-autospace:none'><span style='font-size:15.0pt;font-family:"Noteworthy Light";
mso-bidi-font-family:"Noteworthy Light"'>info@tutorsprout.com<o:p></o:p></span></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>