/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.fix{
    clear: both;
}

#container {
    padding: 10px;
    width: 1000px;
    margin: auto;
    background: lightyellow;
}

header{
    font-size: 40px;
    font-weight: bold;
}
nav{
    margin-top: 20px;
    
}
#authlink {
    float: right;
}
/*start of user profile page style*/
#boxholder{
    background: lightblue;
}
.column1{
    width: 540px;
    background: brown;
    float: left;
}
/*column 1 content*/
#user_profile{
    margin: 10px;
    width: 500px;
    padding: 10px;
    
    background: DarkSalmon ;
}
#profavatar{
    float: left;
    height: 60px;
    width: 60px;
    margin: auto;
}
#tutor_profile{
    margin: 10px;
    padding: 10px;
    width: 500px;
    background: DarkSalmon ;
}
.column2{
    width: 460px;
    background: #123456;
    float: right;
}
/*column 2 content*/
#tutorschedule{
    margin: 10px;
    padding: 10px;
    width: 420px;
    
    float: right;
    background: DarkSalmon ;
}
#rating{
    margin: 10px;
    padding: 10px;
    width: 420px;
    float: right;
    background: DarkSalmon ;
}
/*end of user profile page style*/

/*start of tutor search result page*/
.tuteritem{
    height: 60px;
    background: yellow;
    margin: 10px;
}
.avatar{
    float: left;
    height: 60px;
    width: 60px;
    margin: auto;
}
.tutordescription{
    float: left;
    background: DarkSalmon ;
    height: 60px;
    width: 200px;
    padding: 0 10px 0 10px;
}
.tutorschedule{
    float: left;    
    height: 60px;
    padding: 0 10px 0 10px;
    background: lightblue;
}
.tutorprof{
    float: left;    
    height: 60px;
    padding: 0 10px 0 10px;
    background: lightgrey;
}
.title{
    font-weight: bold;
}
.subject{
    padding-left: 10px;
}
/* end of tutor search result page*/
/*meeting scheduling page*/
#schedulecontainer{
    width: 700px;

}
#meetingform{
    float: right;
}
#meetinginfo{
    float: left;
}
/*end of meeting scheduling page*/



footer{
    text-align: center;
    background: grey;
    color:white;
}
