/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;    
}

ul {
list-style: none;
}

.fix{
    clear: both;
    /*width: 100px;
    height: 1px;
    background: red;*/
}


#header-container {
    height: 110px;
    background-image: url('header-bg.jpg');
    background-repeat: repeat-x;
}

header {
width: 1000px;
height: 110px;
/*background-color: lightblue;*/
margin: 0px auto;
}

#logo {
width: 300px;
height: 70px;
/*background-color: green;*/
float: left;
}

#logo-img {
width: 40px;
height: 70px;
float: left;
}

#logo h1 {
font-size: 28px;
color: white;
font-family: "Open Sans", Arial, sans-serif;
line-height: 70px;
font-weight: bold;
text-shadow: 2px 2px rgba(0,0,0,.2);
}

#logo h1 span.yellow {
color: #f5e4a5;
}

#searchbar {
width: 400px;
height: 70px;
float: right;
/*background-color: blue;*/
text-align: right;
}

.searchbar-padding {
padding-top: 20px;
}

.searchform {
  width: 200px;
  float: right;
  position: relative;
  border-color: #d1d1d1 #e5e5e5 #e5e5e5 #d1d1d1;
  border-width: 1px;
  border-style: solid;
  background: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.searchform input.s {
  padding: 8px 12px;
  width: 85%;
  margin: 0;
  border: 0;
  background: none;
  color: #372e2e;
}
.searchform input.s:focus {
  outline: none;
}
.searchform input.search-submit {
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  margin: 0;
  padding: 0;
}

header nav {
height: 40px;
width: 1000px;
/*background-color: aqua;*/
}

header nav ul {
height: 40px;
}

header nav ul li {
height: 40px;
float: left;
position: relative;
}

header nav ul li a {
line-height: 40px;
color: white;
padding-left: 10px;
padding-right: 10px;
display: block;
font-family: "Open Sans", Arial, sans-serif;
font-size: 18px;
text-decoration: none;
text-shadow: 1px 1px rgba(0,0,0,.2);
font-weight: 600;
-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
background-color: #005ea1;
/*border-top: 1px solid rgba(255,255,255,.3);*/
border-left: 1px solid rgba(255,255,255,.1);
border-right: 1px solid rgba(255,255,255,.1);
/*background: -webkit-gradient(linear, left top, left bottom, from(#005da1), to(#002a4a));
background: -webkit-linear-gradient(#005da1, #002a4a);
background: -moz-linear-gradient(center top, #005da1 0%, #002a4a 100%);
background: -moz-gradient(center top, #005da1 0%, #002a4a 100%);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005da1,endColorstr=#002a4a);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005da1, endColorstr=#002a4a)";*/
}

header nav ul li a:hover {
color: #003b66;
background-image: none;
background-color: #17adb5;
}

header nav ul ul {
width: 200px;
position: absolute;
top: 40px;
left: 0px;
z-index: 100;
display: none;
}

header nav ul li:hover ul {
display: block;
}

header nav ul ul li {
width: 200px;
float: none;
position: relative;
line-height: 40px;
border-bottom: 1px solid #119097;
border-top: 1px solid #1ec8d1;
}

header nav ul ul li a {
/*height: 40px;*/
background-color: #17adb5;
-moz-border-radius-topright: 0px;
border-top-right-radius: 0px;
-moz-border-radius-topleft: 0px;
border-top-left-radius: 0px;
font-size: 16px;
font-weight: normal;
border-left: 10px solid #17adb5;
}

header nav ul ul li a:hover {
background-image: none;
border-left: 10px solid #c96581;
}
header nav ul li a span.parent {
background: url('nav-parent.png') no-repeat right;
padding-right: 20px;
}

#subnav-container {
    height: 30px;
    background-color: rgba(255, 235, 121, 1);
}

#subnav {
    width: 1000px;
    height: 30px;
    margin: 0px auto;
}

#subnav-container nav {
    width: 600px;
    height: 30px;
    margin: 0px auto;
    line-height: 30px;
    float: left;
}

#subnav-container nav a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    font-family: "Open Sans", Arial, sans-serif;

    
}

#subnav-container nav a:hover {
    text-decoration: underline;
    
}

#authlink {
    height: 30px;
    float: right;
    width: 400px;
    text-align: right;
    line-height: 30px;
    /*background: yellow;*/
}

#authlink a {
    font-family: "Open Sans", Arial, sans-serif;

}

#container {
    width: 1000px;
    margin: 0px auto;
    background: white;
    font-family: "Open Sans", Arial, sans-serif;
}


/*start of user profile page style*/
#boxholder{
    background: lightblue;
}
.column1{
    width: 540px;
    background: brown;
    float: left;
}
/*column 1 content*/
#user_profile{
    margin: 10px;
    width: 500px;
    padding: 10px;
    
    background: white ;
}

#tutor_profile{
    margin: 10px;
    padding: 10px;
    width: 500px;
    background: white ;
}
.column2{
    width: 460px;
    background: brown;
    float: right;
}
/*column 2 content*/
#tutorschedule{
    margin: 10px 10px 10px 0;
    margin-left: 0px;
    padding: 10px;
    width: 420px;
    
    float: right;
    background: white ;
}
#rating{
    margin: 10px;
    padding: 10px;
    width: 420px;
    float: right;
    background: white ;
}
/*end of user profile page style*/

/*start of tutor search result page*/
.search-tutors {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.search-tutors h3 {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.search-tutors form {
    width: 420px;
    height: 75px;
    margin: 0px auto;
    /*background: yellow;*/
}

.search-tutors input#subject {
   float: left;
   width: 300px;
}
.search-tutors input#tutorsearchbtn {
	display: inline;
	width: 100px;
}



#tutors {
    width: 1000px;
    margin-top: 20px;
}

#tutors thead th {
    text-align: left;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #777;
}

.tuteritem{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.avatar{
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.tutordescription{
    float: left;
    width: 200px;
    margin-right: 10px;
}

.tutordescription h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    padding-bottom: 10px;
}

.tutordescription p, .tutorschedule {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    
}

.tutorschedule a {
    color: #333;
    text-decoration: none;
}

.tutorschedule a:hover {
    text-decoration: underline;
}



.tutorschedule{
    float: left;    
    height: 60px;
}
.tutorprof{
    float: left;    
    height: 60px;
    background: lightgrey;
}
.title{
    font-weight: bold;
    padding: 2px;
}
.item{
    padding: 2px;
    padding-left: 10px;
}
.inlinetitle{
    font-weight: bold;
    padding: 2px;
    display: inline;
}
.inlineitem{
	padding: 2px;
    padding-left: 10px;
    display: inline;
}
/* end of tutor search result page*/
/*meeting scheduling page*/
#schedulecontainer{
    width: 700px;

}
#meetingform{
    float: right;
}
#meetinginfo{
    float: left;
}
/*end of meeting scheduling page*/

/*start of meeting index page(table formatting)*/
#meetingheader{
	margin: 10px;
	font-size: large;
	font-weight: bold;
}
table#meetinglist{
	margin-top: 10px;
}
table#meetinglist th{
	font-weight: bold;
}
table#meetinglist tr{
	line-height: 20px;
}
table#meetinglist tr:hover {
	background: lightgrey;
}
table#meetinglist td{
	padding: 10px;
}
#meetingshow{
	margin: 20px 0 20px 0;
}
.meetingline{
	
	line-height: 30px;
}

/*end of meeting index page(table formatting)*/

/*footer style start*/
#footer-container {
background-color: #dcdcdc;
}

footer {
width: 1000px;
margin: 0px auto;
}

.footer-padding {
padding-top: 20px;
padding-bottom: 20px;
}

#footer-name {
width: 245px;
float: left;
}

#footer-name h3 {
font-family: "Open Sans", Arial, sans-serif;
font-size: 18px;
color: #999;
font-weight: 600;
margin-bottom: 10px;
}

#footer-name p {
font-family: "Open Sans", Arial, sans-serif;
font-size: 12px;
line-height: 20px;
color: #999;
}

footer nav ul li {
float: left;
width: 110px;
margin-right: 10px;
}

footer nav ul li a {
font-family: "Open Sans", Arial, sans-serif;
font-size: 12px;
color: #999;
text-decoration: none;
font-weight: 600;
}

footer nav ul li a:hover {
text-decoration: underline;
}

footer nav ul ul {
margin-top: 15px;
}

footer nav ul ul li a {
font-weight: normal;
}

#footer-social {
width: 200px;
float: right;
text-align: right;
font-family: "Open Sans", Arial, sans-serif;
font-size: 16px;
font-style: italic;
color: #999;
}

#footer-social-padding {
padding-top: 0px;
}
